<h1 class = "title">Coordinateur du mouvement TforC</h1>

<div>
    <div class = "grid">
        <div class="col-3">
            <img src="assets/logo/tforc.png"  style="width:80%;">
        </div>
        <div class="col-9">
            <p>Le mouvement étudiant pour les transitions et formations citoyennes (TforC) est un regroupement d'étudiants des écoles du groupe IMT.</p>
            <p>Ces étudiants partagent une même volonté :</p>
                <ul>
                    <li>Être moteur des transitions écologiques et sociales et de l'évolution des formations à l'IMT.</li>
                    <li>Être vecteur d'inclusion et de sensibilisation de l'ensemble des étudiants de l'IMT.</li>
                    <li>Partager et progresser ensemble pour développer des synergies entre les groupes locaux et l'échelle nationale afin d'accélérer les transitions.</li>
                </ul>
            <p>J'en suis le coordinateur pour l'année 2022, mon rôle est d'assurer la bonne cohésion du groupe, de faire avancer les projets en cours et de faciliter les discussions entre les associations de nos campus en France.</p>

        </div>
       
    </div>
    <div>
        <p>Nos actions ont permis la création d'un poste de chargé de mission DDRS (Développement durable et responsabilité sociétale) à la direction de l'IMT. Aujourd'hui l'IMT avance dans sa transformation DDRS et TforC s'engage à aider à faciliter cette transition : consultation étudiante, enquête, ... et si besoin est, d'alerter la direction sur de potentiels ralentissements dans ces transitions.</p>
        <p><a class="link" href="https://www.canva.com/design/DAFBhwYMBoo/s_mHQzSBGIkJKQ5Gtd-9Mw/view#1">Notre plaquette décrivant nos actions sur nos campus et à l'échelle du groupe.</a></p>
    </div>
</div>

<h1 class = "title">Animateur fresque du climat et fresque du numérique</h1>
<div>
    <div class = "grid">
        <div class="col-3">
            <img src="assets/logo/fdclimat.png"  style="width:80%;">
        </div>
        <div class="col-9">
            <p>Depuis 2021 je suis animateur de la <a class="link" href="https://fresqueduclimat.org/">fresque du climat</a> et de la <a class="link" href="https://www.fresquedunumerique.org/">fresque du numérique</a>.</p>
            <p>J'ai eu l'occasion d'animer à plusieurs reprises ces ateliers au sein de mon école mais également dans d'autres écoles du groupe IMT.</p>
            <p>Pour moi ces ateliers sont une belle occasion de sensibiliser les étudiants aux enjeux de la transition écologique.</p>
            <p>Être animateur me permet de parler de ces sujets qui me tiennent à coeur au cours d'un atelier ludique.</p>
        </div>
       
    </div>
    <div>
    
    </div>
</div>

<h1 class = "title">Bureau du développement durable IMT Atantique</h1>
<div class = "grid">
    <div class="col-3">
        <img src="assets/logo/bdd.png"  style="width:80%;">
    </div>
    <div class="col-9">
        <p>Le Bureau du Développement Durable est une association étudiante de IMT Atlantique. Son objectif est de réaliser des actions à l'échelle de l'école pour rendre nos campus plus verts.</p>
        <p>Les actions sont variées, le BDD organise un magasin de vrac, met à disposition des vélos aux étudiants, organise des ateliers de découvertes, ...</p>
        <p>J'ai alors participé à des projets pour la mobilité des étudiants, tel que l'animation d'ateliers pour l'entretien des vélos ou encore la réalisation d'un système de réservation de vélos.</p>
    </div>
   
</div>
<div>

</div>
<div></div>