<h1 class = "title">Ma formation à la cybersécurité</h1>
<div>
    <p>La cybersécurité est un domaine qui me passionne, car on y est toujours obligé d'apprendre avec l'avénement de nouvelles technologies, c'est aussi un secteur avec de forts enjeux et qui représente un des défis majeurs aujourd'hui dans notre société.</p>
    <p>Avec la multiplication des terminaux pour l'IoT et l'industrie 4.0, une double compétence système embarqué et cybersécurité permet de répondre à de nouveaux besoins en terme de sécurité dans des secteurs multiples. Par exemple on parle de plus en plus de smart grid, ces structures nécessitent l'utilisation de systèmes connectés pour gérer la répartition de l'énergie. Ces systèmes sont donc des cibles de choix pour un attaquant voulant affaiblir une organisation voire même un pays.</p>
    <p>C'est pourquoi au cours de mes études mais aussi de façon autodidacte, je me forme aux enjeux de la cybersécurité.</p>
</div>



<h1 class = "title">Participation à des CTF</h1>

<div>
    <div class = "grid">
        <div class="col-3">
            <a target="_blank" href="https://challenge-ecw.fr/">
                <img class="image" src="assets/cyber/ECW.png"  style="width:100%;">
            </a>
            
        </div>
        <div class="col-9">
            <p>L'une des meilleures façon de progresser en cybersécurité est la pratique. C'est pourquoi je participe à des challenges de Capture The Flage en équipe ou non.</p>
            <p>Ces challenges sont l'occasion de mettre en application mes connaissances et de travailler de façon intense sur des défis divers , reflets de failles réelles.</p>
            <p>J'ai donc eu la chance de participer à </p>
            <ul>
                <li>L'<a class ="link" target="_blank" href="https://challenge-ecw.fr/">ECW qualifier</a> : 2 semaines de défis pour tenter de se qualifier à la finale de l'ECW</li>
                <li>Le <a class ="link" target="_blank" href="https://tracs.viarezo.fr/">TRACS</a> : défis en équipe sur une journée organisé par Centrale Supélec et la DGSE</li>
            </ul>
        </div>
    </div>
    <div>
        
    </div>
</div>

<h1 class = "title">Formation</h1>

<div>
    <div class = "grid">
        <div class="col-3">
            <a target="_blank" href="https://app.hackthebox.com/profile/1089079">
                <img class="image" src="assets/cyber/htb.png"  style="width:100%;">
            </a>
            
        </div>
        <div class="col-9">
            <p>J'ai eu l'occasion dans mes études de me former à la cybersécurité des systèmes embarqués avec le fonctionnement des trusted platform module et leur implémentation, ou encore l'application d'attaques communes sur des systèmes ARM.</p>
            <p>En parallèle de mes études, j'essaye de me former de façon autodidacte au travers des challenges proposés par <a class="link" target="_blank" href="https://www.hackthebox.com/">Hack The Box</a> principalement. Mais aussi en suivant des vidéos, interviews, MOOCs proposés par des professionnels du secteur.</p>
        </div>
    </div>
    <div>
        
    </div>
</div>

<h1 class = "title">Projets de recherche</h1>

<div>
    <div class = "grid">
        <div class="col-3">
            <a target="_blank" href="https://confidentialcomputing.io/">
                <img class="image" src="assets/cyber/CCC.png"  style="width:100%;">
            </a>
            
        </div>
        <div class="col-9">
            <p>Dans mon cursus à IMT Atlantique, j'ai eu la chance de suivre des UE orientées recherche. J'ai alors pu discuter avec des chercheurs en cybersécurité, pour découvrir leurs travaux de recherches. J'ai ainsi pu réaliser deux travaux de recherches en lien avec ces dernières.</p>
            <p>Le premier projet que j'ai réalisé était un état de l'art sur les menaces pesant sur le cloud et principalement sur la virtualisation et l'usage de machines virtuelles. L'objectif de cette étude était de démontrer en quoi les Trusted Execution Environment pouvaient répondre en partie au problème de la protection des données au moment de leur utilisation.</p>
            
        </div>
    </div>
    <div>
        <p>Le second projet auquel j'ai participé est la rédaction d'un article de recherche sur la détection de malware assisté par l'intelligence artificielle dans le cas de systèmes embarqués. L'objectif était de voir les menaces possibles, et ensuite les outils qui pouvaient être mis en place pour détecter les malwares le plus efficacement possible, en tenant en compte des contraintes de l'embarqué.</p>
        <div id="carrouSchool">
            <app-image-caroussel-widget [imageList]='[{"path":"assets/cyber/attackmap.png"},{"path":"assets/cyber/SGX.png"},{"path":"assets/cyber/useCloud.png"}]'></app-image-caroussel-widget>
        </div>
    </div>
</div>