<div class = "grid" id="me">
    <div class="col-3">
        <img src="../../assets/careerImages/profil3.JPG" style="width:100%;margin-top:25%;border-radius:50%">
    </div>
    <div class="col-8">
        <div class = "title">
            Arthur Docquois
        </div>
        <div class="desc">
            <p>
                Je suis étudiant ingénieur en Electrical engineering à <a href="https://www.imt-atlantique.fr/fr" class="link">IMT Atlantique</a>.
            </p>
            <p style="margin-top:20px">
                Je suis spécialisé dans la conception matérielle et logicielle de sysèmes embarqués pour les domaines de l'IoT, des transports intelligents, de l'industrie 4.0 ...
            </p>
            <p style="margin-top:20px">
                Mon objectif est d'en apprendre un maximum sur ces systèmes, leur fonctionnement, les enjeux qu'ils représentent dans un monde toujours plus connecté. Je m'intéresse particulièrement à la sécurité de ces systèmes, avec l'IoT des millions d'appareils sont utilisés, augmantant considérablement la surface d'attaque pour un attaquant potentiel. De plus ces systèmes sont de plus en plus utilisés dans des applications critiques : smart grid, centrales nucléaires, avions, ... sécuriser ces systèmes est donc une nécessité aujourd'hui. 
            </p>         
        </div>
    </div>
</div>

<div id = "timeline">
    <p-timeline [value]="timeline" layout="horizontal" align="top">
        <ng-template pTemplate="marker" let-element>
            <span (click)="selectedElement=element.name" class="custom-marker shadow-2" *ngIf="selectedElement==element.name" [style.backgroundColor]="'#EF8538'">
                <i [ngClass]="element.icon"></i>
            </span>
            <span (click)="selectedElement=element.name" class="custom-marker shadow-2" *ngIf="selectedElement!=element.name" [style.backgroundColor]="'#7488DC'">
                <i [ngClass]="element.icon"></i>
            </span>
        </ng-template>
        <ng-template pTemplate="content" let-element>
            <p (click)="selectedElement=element.name" class="date"> {{element.date}} </p>
        </ng-template>
    </p-timeline>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='Prépa PCSI/PSI*'" class="desc">
    <h1 class="title">Calsse préparatoire aux grandes écoles d'ingénieurs PCSI/PSI*</h1>
    <div class = "grid">
        <div class="col-3">
            <img src="../../assets/logo/logofdh.jpeg"  style="width:80%;">
        </div>
        <div class="col-9">
            <p>Deux années de préparations aux concours d'entrées des grandes écoles d'ingénieur avec apprentissage intensif de : </p>
            <ul>
                <li>Mathématiques : algèbre linéaire, analyse, probabilités</li>
                <li>Sciences physiques : éléctrocinétique, mécanique du point et du solide, physique des ondes</li>
                <li>Sciences industrielles et de l'ingénieur : automatique, dynamique et cinétique des solides</li>
                <li>Philosophie sur les thèmes de la démocratie et de l'amour</li>
                <li>Anglais</li>
            </ul>
        </div>
    </div>
    <p>Ces deux années m'ont permis de repousser mes limites, d'apprendre à gérer la pression et d'apprendre à apprendre efficacement et rapidement un nombre important d'informations.</p>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='Première année IMT Atlantique'" class="desc">
    <h1 class="title">Première année à IMT Atlantique Brest</h1>
    <div class = "grid">
        <div class="col-3">
            <img src="../../assets/logo/IMTAtlantique.png"  style="width:80%;margin-top:25%">
        </div>
        <div class="col-9">
            <p>Année de tronc commun ingénieur généraliste à <a class="link" href="https://www.imt-atlantique.fr/fr">IMT Atlantique</a> avec un large spectre disciplinaire : </p>
            <ul>
                <li>Électronique numérique et analogique, physique des semi conducteurs</li>
                <li>Sciences Physiques : physique des ondes, physique des antennes, mécanique des fluides, physique nucléaire</li>
                <li>Mathématiques : maths appliqués à l'ingénieur, probabilité, statistques</li>
                <li>Développement informatique : java, python, C++</li>
                <li>Micro et Macro économie</li>
                <li>Sensibilisation aux enjeux du développement durable</li>
            </ul>
        </div>
    </div>
    <div>
        <p>Cette année aura été l'occasion pour moi de m'ouvrir à des sujets très divers, c'est à partir de cette année que j'ai commencé à me passionner pour l'électronique. Mes cours ont attisé ma curiosité sur le fonctionnement de nos appareils avec de nouvelles question : comment ça fonctionne un ordinateur ? C'est quoi un CPU ? Quelle différence avec un GPU ? C'est quoi un OS ?</p>
        <p>Durant l'année de nombreux projets ont été réalisés en groupe ou seul, comme la réalisation d'un filtre, la création d'une IHM sous java, le développement avec Arduino d'une lampe intelligente</p>
    </div>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='Stage en recherche'" class="desc">
    <h1 class="title">Stage de première année à IMT Atlantique au département Mathematical and Electrical Engineering</h1>
    <div class = "grid">
        <div class="col-3">
            <img src="../../assets/logo/pytorch.png" style="width:50%">
        </div>
        <div class="col-9">
            <p>Stage d'un mois avec pour but de comparer différents modèles d'autoencodeur implémentés en python grâce à la bibliothèque Pytorch.</p>
            <p>L'objectif du réseau de neuronnes étant de permettre de compresser des cartes météos de vents afin de les transmettre à un voilier via un canal bas débit (VHF)</p>
        </div>
    </div>
    <div>
        <p>Ce stage aura été l'occasion de découvrir diverses techniques de compression de données (différents modèles d'autoencodeur, analyse en composante principale) et d'avoir une introduction aux technologies utilisées en deep learning.</p>
    </div>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='IMT Atlantique Nantes automatique et contrôle commande'" class="desc">
    <h1 class="title">Deuxième année à IMT Atlantique en spécialisation automatique et contrôle commande</h1>
    <div class = "grid">
        <div class="col-3">
            <img src="../../assets/logo/IMTAtlantique.png"  style="width:80%;margin-top:25%">
        </div>
        <div class="col-9">
            <p>Deuxième année avec étude de l'automatique et des lois de commandes : </p>
            <ul>
                <li>Représentation d'état</li>
                <li>Commande LQ</li>
                <li>Synthèse de régulateur par placement de pôles ou retour d'état</li>
                <li>Filtres de Kalman</li>
                <li>Commande multi-objectif</li>
                <li>Introduction au langage Bond Graph</li>
                <li>Utilisation de Matlab Simulink</li>
            </ul>
        </div>
    </div>
    <p>Cette année a aussi été l'occasion de travailler sur un projet d'ingénieurie pour une entreprise ostréicole, afin de réaliser les plans d'une trieuse automatique compacte et rapide.</p>
    <p>J'ai également réalisé un <a href="/secuCloud" class="link">état de l'art sur la sécurité du continuum cloud/IoT</a>, afin de protéger les données utilisées dans leur état "in use". J'y ai alors recensé les attaques principales inhérentes à l'utilisation du cloud et montré en quoi les Trusted Execution Environment
        pouvaient constituer une réponse à ces menaces.  </p>
    <p>Bien que l'automatique ne soit pas mon intérêt principal, cette année m'a permis d'affiner mon projet vers la conception aussi bien matérielle que logicielle des systèmes. </p>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='Stage ingénieur à Ifremer'" class="desc">
    <h1 class="title">Stage ingénieurie à Ifremer</h1>
    <div class = "grid">
        <div class="col-3">
            <img src="../../assets/logo/ifremer.png"  style="width:80%">
        </div>
        <div class="col-9">
            <p>Stage de 3 mois à l'Ifremer dans le service instrumentation et ingénierie marine. L'objectif du stage était de moderniser une interface web embarqué sur les systèmes de mesures (observatoire fond de mer, bouées côtières, profileurs dérivants). Le but était de rendre l'interface plus intuitive et de proposer de nombreux services pour contrôler le bon fonctionnement du système.</p>
            <p>L'interface web a été réalisée à l'aide du framework Angular</p>    
        </div>
        
    </div>
    <p>Voici les missions qui ont été réalisées :</p>
                <ul>
                    <li>Création de widgets pour récupérer et visualiser les mesures des capteurs (graphe, tableau)</li>
                    <li>Création de widgets pour le contrôle des paramètres généraux du système (heure, mémoire disponible ...)</li>
                    <li>Création de widgets pour utiliser les pins I/O et PWM du système depuis l'interface</li>
                    <li>Création de widgets pour utiliser le protocole One Wire depuis l'interface</li>
                    <li>Création en C d'un driver logiciel pour utiliser une sonde multi-paramère fonctionnant avec le protocole Modbus</li>
                </ul>
    <p>Ce stage aura été l'occasion pour moi de renforcer mes compètences en développement web et en développement embarqué, mais surtout de découvrir de nouveaux systèmes, leurs enjeux et leurs contraintes (très faible consommation, faibles mémoires, besoin d'une longue autonomie ...)</p>
    <p>J'y ai aussi découvert les outils mis en place pour observer les océans et les différentes missions portées par l'Ifremer.</p>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='Semestre d\'échange académique à TUM'" class="desc">
    <h1 class="title">Semestre d'échange académique à la Technische Universität München</h1>
    <div class = "grid">
        <div class="col-3">
            <img src="../../assets/logo/TUM.png"  style="width:80%">
        </div>
        <div class="col-9">
            <p>Semestre d'échange à la <a class="link" href="https://www.tum.de/en/">Technische Univeristät München</a> dans le département d'éclectronique et d'informatique.</p>
            <p>Cet échange aura été l'occasion pour moi de découvrir de nouvelles facettes de ma spécilaité d'ingénieur embarqué, dans un contexte international. Ainsi que de découvrir la ville de Munich, son histoire, ses paysages, sa culture, ...</p>
            
        </div>
        <div>
            <p>Voici les sujets que j'ai pu étudier :</p>
            <ul>
                <li>Sécurité des systèmes embarqués : application d'attaques communes, mitigation de ces attaques, Trusted Platform Modules</li>
                <li>Implémentation matérielle d'algorithmes de cryptographie</li>
                <li>Introduction à l'IoT : spécificité des réseaux pour l'IoT</li>
                <li>Hardware Software Codesign : flot de conception des systèmes embarqués, choix des parties logicielles et matérielles</li>
                <li>Conception de systèmes avec VHDL : implémentation d'un processeur RISC-V avec VHDL</li>
                <li>Conception de circuit haute fréquence : étude des circuits pour l'amplification, des oscillateurs</li>
            </ul>
            <p>Ce semestre a confirmé mon intérêt pour la conception de systèmes embarqués, et surtout la conception de systèmes embarqués sécurisés.</p>
        </div>
    </div>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='IMT Atlantique Système Embarqué Hétérogène'" class="desc">
    <h1 class="title">Dernière année à IMT Atlantique en spécialisation systèmes embarqués hétérogènes</h1>
    <div class = "grid">
        <div class="col-3">
            <img src="../../assets/logo/IMTAtlantique.png"  style="width:80%; margin-top:25%">
        </div>
        <div class="col-9">
            <p>Dernière année d'étude avec pour spécilité la co-conception logicielle et matérielle de systèmes embarqués :</p>
            <ul>
                <li>Bases de l'électroniques numériques</li>
                <li>Conception de systèmes sur FPGA</li>
                <li>Programmation bas niveau avec ou sans OS</li>
                <li>Machine vision</li>
                <li>Calcul parallèle</li>
                <li>High Level Synthesis</li>
            </ul>
        </div>
        <div>
            <p>Cette année aura été l'occasion pour moi de travailler sur la concpetion de systèmes sur des plateformes utilisées en industrie (la Xilinx zedboard par exemple). J'ai pu renforcer mes compétences en électronique et concetpion des systèmes à différents niveaux.</p>
            <p>J'ai également travaillé sur un projet de système de réception de signaux AIS pour un projet de lâcher de ballon sonde. Ce projet avait pour objectif de créer un module de réception basse concommation à partir d'un tuner trouvable dans le commerce.</p>
            <p>En parallèle de mon diplôme d'ingénieur j'ai préparé un master recherche en électronique où j'ai pu avoir des cours sur la rédaction d'article de recherche, le dépot de brevet, ... J'ai ainsi travaillé sur la rédaction d'un article de recherche sur l'utilisation de l'intelligence artificielle dans la détection de malware pour des applications embarquées.</p>
        </div>
    </div>
</div>

<div id = "timeLineDesc" *ngIf="selectedElement=='Futur'" class="desc">
    <h1 class="title">Suite de mon parcours</h1>
    <div>
        <p>J'aimerais orienter la suite de mon parcours vers la sécurité des systèmes, que ce soit au travers de mon stage de fin d'étude ou avec un master spécilisé dans la sécurité.</p>
        <p>Mon objectif est d'obtenir des compétences et expériences nécessaires afin d'avoir une carrière dans la sécurité des systèmes embarqués ou de l'IoT.</p>
        <p>Je souhaite à l'avenir travailler dans la conception d'architectures système sécurisées. Cela peut être sur la conception de Trusted Platform Modules, la conception d'applications embarquées sécurisées, ...</p>
        <p>L'idée serrait de devnir DevSecOps pour l'embarqué en alliant une double spécialisation électronique/IoT et sécurité.</p>
    </div>
</div>

<hr class = 'mainSubTitle-line'>

<div id="engagement">
    <div class = "title">
        Mon engagement étudiant
    </div>

    <p-carousel [value]="assos" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000">
        <ng-template let-asso pTemplate="item">
            <img src={{asso.image}}  style="width:200px;">
        </ng-template>
    </p-carousel>
</div>

<div id = "MapOfSchools">
    <div class="map-container">
        <div class="map-frame">
          <div id='mapSchools'></div>
        </div>
    </div>
</div>

<div id="carrouSchool">
    <app-image-caroussel-widget [imageList]='[{"path":"../../assets/logo/IMTAtlantique.png"},{"path":"../../assets/logo/TUM.png"},{"path":"../../assets/logo/logofdh.jpeg"}]'></app-image-caroussel-widget>
</div>