.titleCard{
    font-size:35px;
    font-weight: bolder;
    margin-right:10px;

}

.descCard{
    text-align:left;
    font-size:20px;
    margin-top:10px;
    margin-right:10px;
}

.logo{
    margin-top:auto;
    margin-bottom:auto;
}

.sideImage{
    margin-right:15px;
}

.desc{
    margin-top:auto;
    margin-bottom:auto;
}