<div class = "cardComp">
    
    <div class="grid">
        <div class="col-3 logo" (click)="goToLink(link)">
            <p-image src={{imagePath}} width="200px"></p-image>
            
        </div>
       
        <div class="col-4">
            
            <div class="descCard desc" (click)="goToLink(link)">{{desc}}</div>
        </div>
        <div class="col-5" (click)="goToLink(recruitingLink)">
            
            <p-image src={{sideImagePath}} width="90%"></p-image>
            
            
        </div>
                
        
    
    </div>
    </div>